# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.expo/
*.tsbuildinfo
.turbo/

# env & secrets
.env
.env.*
!.env.example

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
*.log
npm-debug.log*
